<template>
  <div>
    <Form v-on:newPerson="agregar"/>
    <Tabla :lista="items" />
  </div>
</template>

<script>
import Form from "../components/Padre/Formulario";
import Tabla from "../components/Padre/Component";

export default {
  components: {
    Form,
    Tabla
  },
  data() {
    return {
      items: [
        { age: 40, first_name: "Dickerson", last_name: "Macdonald" },
        { age: 21, first_name: "Larsen", last_name: "Shaw" },
        { age: 89, first_name: "Geneva", last_name: "Wilson" },
        { age: 38, first_name: "Jami", last_name: "Carney" }
      ]
    };
  },
  methods:{
      agregar(persona){
          this.items.push({
              age: persona.age,
              first_name: persona.first_name,
              last_name: persona.last_name
          })
      }
  }
};
</script>

<style>
</style>