<template>
  <div>
    <b-table striped hover :items="people"></b-table>
  </div>
</template>

<script>
export default {
  props: {
      lista: Array
  },
  data() {
    return {
      people: this.lista
    };
  }
};
</script>

<style>
</style>