<template>
  <div>
    <b-form >
      <b-form-group
        id="input-group-1"
        label="Age:"
        label-for="input-1"
      >
        <b-form-input id="input-1" v-model="persona.age" required></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="First Name:" label-for="input-2">
        <b-form-input id="input-2" v-model="persona.first_name" required></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" label="Last Name:" label-for="input-3">
        <b-form-input id="input-3" v-model="persona.last_name" required></b-form-input>
      </b-form-group>

      <b-button v-on:click="enviar" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      persona: {
        age: 0,
        first_name: "",
        last_name: "",
      },
    };
  },
  methods: {
    enviar() {
        this.$emit('newPerson', this.persona);
        this.persona.age=0;
        this.persona.first_name="";
        this.persona.last_name="";
    }
  }
};
</script>

<style>
</style>